@import "tailwindcss";
.rooms{
    @apply mt-[50px] 
}
.rooms .filtir-rooms ul{
    @apply flex  items-center gap-x-6
}
.rooms .filtir-rooms {
    @apply border-b-2 border-blue-950 pb-3
}
.rooms .filtir-rooms ul li{
    padding: 5px 10px;
    @apply bg-blue-950 text-white  rounded-xl cursor-pointer
    font-[500] hover:bg-blue-900 w-[100px] text-center
    max-md:text-sm max-md:px-1
}
.rooms .rooms-details{
    @apply grid lg:grid-cols-3 min-md:grid-cols-2
     items-center flex-wrap justify-center gap-4 mt-4


}
.rooms .rooms-details .room {
    @apply w-[300px] rounded-xl p-3 bg-[#eee] 
}
.rooms .rooms-details .room img{
    @apply rounded-xl
}
.rooms .swiper-button-next,
.rooms .swiper-button-prev{
    @apply  text-blue-950 size-3 bg-white  w-7 h-7 rounded-full
    flex justify-center items-center p-2
}
.rooms .rooms-details .room h3{
    @apply mt-2 text-blue-950 font-[500]
}
.rooms .rooms-details .room .stars{
    @apply flex items-center gap-x-1 text-yellow-500 mt-3
}

.rooms .rooms-details .room .aminities{
    @apply mt-3
}
.rooms .rooms-details .room .aminities .aminity{
    @apply flex items-center gap-x-2 mt-3 text-[18px]
    text-[#333]
}
.rooms .rooms-details .room .more{
    @apply mt-3 text-blue-950 font-bold cursor-pointer flex
    items-center gap-x-1
}
.rooms .rooms-details .room .policy{
    @apply mt-3 pt-2 border-t-1 border-blue-950
}
.rooms .rooms-details .room .policy .title{
    @apply flex items-center justify-between
}
.rooms .rooms-details .room .policy .title h4{
@apply text-blue-950 font-[500]
}
.rooms .rooms-details .room .policy .title span{
    @apply text-gray-600 text-[14px]
}
.rooms .rooms-details .room .policy .cncellation{
    @apply mt-2  flex items-center gap-x-2  text-[15px] text-[#333]
}
.rooms .rooms-details .room .extras{
    @apply mt-3 pt-2 border-t-1 border-blue-950
}
.rooms .rooms-details .room .extras h4{
    @apply text-blue-950 font-[500]
}
.rooms .rooms-details .room .extras .info{
    @apply mt-2  flex items-center gap-x-2  text-[15px] text-[#333]
}
.rooms .rooms-details .room .extras .info label{
    @apply flex items-center justify-between w-full text-[15px] text-[#333]
}
.rooms .rooms-details .room .price{
    @apply mt-3 text-blue-950 font-bold text-[18px] text-right
}
.rooms .rooms-details .room .price p{
    @apply text-gray-500 text-[15px] font-[500] mt-1
}
.rooms .rooms-details .room button{
    @apply mt-3 w-full bg-blue-950 text-white py-1 rounded-xl font-bold
}
.rooms .rooms-details .room button + p{
    @apply mt-2 text-gray-500 text-[14px] text-center
}
/* MoudleRoom */
.rooms .shadow{
    @apply fixed top-0 left-0 w-full h-full bg-black/50 z-10
}
.rooms  .moudle-room{
    @apply fixed top-[50%] left-[50%] transform -translate-x-1/2 -translate-y-1/2 w-fit  bg-white h-[600px] rounded-xl
z-10 flex flex-col gap-y-4 items-center  p-4 overflow-y-scroll 
}
.rooms  .moudle-room .slider-images{
    @apply w-[600px]  rounded-xl  h-[500px] mt-8
    max-md:w-[300px] max-md:h-[250px]
}
.rooms  .moudle-room .slider-images img{
    @apply w-full h-full  rounded-xl  
}
.rooms  .moudle-room .title{
    @apply text-blue-950 font-bold text-[20px]
}
.rooms .moudle-room .rating{
    @apply flex items-center gap-x-1 text-yellow-500  
}
.rooms .moudle-room .facilities{
    @apply mt-3 grid grid-cols-3 gap-4 bg-blue-950 p-3 rounded-xl 
}
.rooms .moudle-room .facilities .facility{
    @apply flex flex-row-reverse items-center gap-x-2 text-[15px] text-white w-full justify-center
}
.rooms .moudle-room .amenities{
    @apply mt-3 flex justify-center gap-x-4 
}
.rooms .moudle-room .amenities .amenity{
    @apply flex flex-row-reverse items-center gap-x-2 text-[15px]
    text-[#333] font-bold max-sm:text-sm     
     max-sm:flex-col max-sm:items-center 

}
.rooms .moudle-room .price{
    @apply mt-3 text-blue-950 font-bold text-[18px] text-right
}

.rooms .moudle-room  .policy{
    @apply mt-3 pt-2 border-t-1 border-blue-950 w-full
}
.rooms .moudle-room  .policy .title{
    @apply flex items-center justify-between
}
.rooms .moudle-room  .policy .title h4{
@apply text-blue-950 font-[500]
}
.rooms .moudle-room .policy .title span{
    @apply text-gray-600 text-[14px]
}
.rooms .moudle-room  .policy .cncellation{
    @apply mt-2  flex items-center gap-x-2  text-[15px] text-[#333]
}
.rooms .moudle-room  .extras{
    @apply mt-3 pt-2 border-t-1 border-blue-950 w-full
}
.rooms .moudle-room  .extras h4{
    @apply text-blue-950 font-[500]
}
.rooms .moudle-room  .extras .info{
    @apply mt-2  flex items-center gap-x-2  text-[15px] text-[#333]
}
.rooms .moudle-room  .extras .info label{
    @apply flex items-center justify-between w-full text-[15px] text-[#333]
}
.rooms .moudle-room  .book{
    @apply mt-3 w-full bg-blue-950 text-white py-1 rounded-xl font-bold
}
.rooms  .moudle-room .room button + p{
    @apply mt-2 text-gray-500 text-[15px] text-center
}
.rooms  .moudle-room .close{
    @apply absolute top-0 left-3 text-blue-950 text-[30px] cursor-pointer
      rounded-full flex justify-center items-center font-bold
      hover:text-red-500  

}